footer {
    
    position: fixed;
    left: -2%;
    bottom: 4%;
    width: 100%;
    color: #ddd;
    height:1%;
    font-size: 70%;
    text-align: right;
    z-index: -990;
    font-height: 100%;
}

footer a {
    color: #ddd;
    text-decoration: none;
}
